{% macro products(product_items) %}
    <ul>
        {% for product in product_items %}
            <li>
              <div class="products" data-id={{ product.id }}> {{ product.title }}</div>
              <span class="clicks"> {{ product.clicks }} </span>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
